:root {
	--jumbotron-padding-y: 3rem;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

/* Sticky Footer Classes */

html,
body {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#page-content {
	flex: 1 0 auto;
}

#sticky-footer {
	flex-shrink: none;
}

/* Background video classes */

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-25%) translateY(-25%);
	-moz-transform: translateX(-25%) translateY(-25%);
	-webkit-transform: translateX(-25%) translateY(-25%);
	transform: translateX(-50%) translateY(-50%);
}

header .container {
	position: relative;
	z-index: 2;
}

header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
	header {
		background: url('./media/videos/background_lines.mp4') black no-repeat center center scroll;
	}
	header video {
		display: none;
	}
}

/* Cards */

div#card {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
